@media screen and (min-width: 760px){

	#intro{
		h1{
			font-size: 4em;
		}
		h2{
			font-size: 2.5em;
		}
	}

	.burger-button{
		display: none;
	}

	.menu {
		font-size: 1.1em;
		position: static;
		display: flex;
		justify-content: space-between;

		height: unset;

		background-color: transparent;

		padding-top: 0;

		border: none;

		transform: translateX(0);
		transition: none;
		ul{
			font-size: 1em;
			padding-top: 0;
		}
		li{
			display: inline-block;
			margin-left: 1.2em;
		}
	}

	.menu-open{
		transform: translateX(0)!important;
	}

	.download-cv{
		position: relative;
		top: -10px;
	}

	.skill-icon{
		height: 140px; width: 140px;
	}
	
	.skill-icon-sub{
		height: 70px; width: 70px;
	}

	.sub-skills{
		top: -25px; left: -25px;
		width: 190px; height: 0;
	}

	.portfolio-entry{
		width: 30%;
		padding-top: 16%;
	}
	
	.portfolio-list{
		flex-direction: row;
		justify-content: space-around;
		
	}

	//?
	//? Parcours
	//?/////////////////////////////
	.timeline{
		margin-left: 290px;
	}

	.work-meta{
		position: absolute;
		left: -320px;
		top: 0;
	}

	footer{
		img{
			display: unset;
		}
	}
}