@import 'variables';

html{
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*, *:before, *:after{
	box-sizing: inherit;
	font-feature-settings: normal!important;
}


body {
	margin: 0;
	font-family: "Roboto", "Oxygen",
	  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	  sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
code {
font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
	monospace;
}

.wrapper{
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
}

section:not(:first-child){
	padding: 6em 0;
}

h2{
	font-size: 2em;
	text-align: center;
	font-variant: small-caps;
	margin: 0 0 1em 0;
}



//?
//? Intro plein écran
//?////////////////////////////

#intro{
	position: relative;

	background: rgb(1,87,129);
	background: linear-gradient(180deg, rgba(1,87,129,1) 0%, rgba(32,152,209,1) 100%);

	height: 100vh;

	font-family: 'Roboto', sans-serif;
	color: white;
	
	.fullscreen{
		height: 100%;
	}

	.intro-title{
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
	}
	h1{
		font-size: 3em;
		margin: .3em 0;
	}
	h2{
		font-size: 1.5em;
		font-weight: normal;
		margin: 0;
	}
}

.logo-container{
	position: absolute;
	top: 0; left: 0;
	height: 100%; width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	img{
		height: 410px;
		width: 520px;
		margin: 3em;
	}
}

.nav-bar{
	position: relative;
	top: -40px;
	width: 100%;
}

.burger-button{
	background-color: $orange;
	color: white;
	border: none;
	font-size: 1.5em;
	font-variant: small-caps;

	font-family: 'Roboto';
	font-weight: 700;
	font-variant: small-caps;
	border-radius: .3em;
	padding: .2em .6em;
	
	position: relative;
	top: -.4em;
	left: .4em;

	z-index: 81;
}

.menu-open{
	transform: translateX(-12em)!important;
}

.menu-dim{
	position: fixed;
	top: 0; left: 0;
	height: 100vh; width: 100vw;
	background-color: black;
	opacity: 0;
	visibility: hidden;
	transition: opacity .5s;
	z-index: 80;
}

.dimmer{
	opacity: .6;
	display: block;
	visibility: visible;
}

.menu{
	padding-top: 1.5em;

	font-variant: small-caps;
	font-weight: bold;
	font-size: 1.4em;
	text-align: right;

	position: fixed;
	top: 0;
	right: -12em;
	z-index: 100;

	height: 100vh;

	background-color: $blue;
	border-left: 2px solid white;

	transform: translateX(0em);

	transition: transform .5s;

	a{
		color: white;
		text-decoration: none;
	}

	ul {
		font-size: 1.3em;
		margin: 0;
		padding: 0;
		padding-top: 1.3em;
		list-style: none;
		li{
			margin-bottom: 1em;
		}
	}

	
}

.sticky{
	position: fixed;

	top: 0;
	left: 0;

	height: 60px;

	background-color: $blue;

	padding: 20px 0;

	z-index: 90;
}

.download-cv{
	background-color: $orange;
	padding: .5em;
	border-radius: .3em;
}


//?
//? Compétences
//?////////////////////////////

#skills{
	background-color: #F1F2F2;
}

.skill-icon{
	height: 100px; width: 100px;
}

.skill-icon-sub{
	height: 50px; width: 50px;
}

.skills-flex{
	margin-top: 4em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.sub-skills{
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: -20px; left: -20px;
	width: 140px; height: 0;
}

.skill-entry{
	position: relative;
	margin: 10px 30px; 
	.skill-icon, .skill-icon-sub{
		transition: transform 0.3s ease-out;
		&:hover{
			transform: scale(1.1);
			~ .skill-tooltip-bloc, ~ .skill-sub-tooltip-bloc{
				visibility: visible;
				opacity: 1;
			}
		} 
	}
}

.skill-sub-entry{
	position: relative;
}


.skill-tooltip-bloc, .skill-sub-tooltip-bloc{
	position: absolute;
	top: -3em; left:0;
	width: 100%;

	display: flex;
	justify-content: center;

	z-index: 2;

	transition: opacity .3s;
	visibility: hidden;
	opacity: 0;
}

.skill-sub-tooltip-bloc{
	top: -2.5em;
}

.skill-tooltip{
	text-align: center;
	background-color: rgb(82, 82, 82);
	color: white;
	padding: .3em .5em;
	border-radius: .5em;

	white-space: nowrap;
}



//?
//? Parcours
//?/////////////////////////////

.timeline{
	margin-left: 20px;
	border-left: 5px solid $blue;
	padding: 0 0 0 32px;
}

.timeline-entry{
	position: relative;
	margin-bottom: 4em;
}

.work-place{
	h3{
		font-weight: 500;
	}
	.location{
		color: #444;
		font-size: 0.8em;
		position: absolute;
		right: 0;
		top: 6px;
	}
}

@media screen and (max-width: 359px){
	.work-place{
		h3{
			margin-bottom: 10px;
		}
		.location{
			position: static!important;
			margin-bottom: 10px;
		}
	}
}

.work-category{
	background-color: $blue;
	border-radius: 50%;

	position: absolute; 
		left: -60px;
		top: -14px;

	display: flex;
		justify-content: center;
		align-items: center;

	font-size: 1.5rem;
		color: white;

	width: 50px; height: 50px;
}

.work-meta{
	font-size: 18px;
	// position: absolute;
	// left: -320px;
	.title{
		font-weight: 700;
		color: $blue;
	}

	.time{
		font-size: 0.8em;
		color: #444;
	}
}

//?
//? Portfolio
//?////////////////////////////

#portfolio{
	background-color: #F1F2F2;
}

.portfolio-list{
	display:flex;
	flex-direction: column;
}

.portfolio-entry{
	position: relative;
	width: 100%;
	padding-top: 56.25%;
	background-color: gray;
	height: 160px;
	overflow:hidden;
	margin-bottom: 1.5em;
	img{
		position: absolute;
		top: 0; left: O;
		max-width: 100%;
		margin: auto;
		display: block;
		transition: filter .5s;
	}
	&:hover {
		> .portfolio-info{
			opacity: 1;
		}
		img{
			filter: blur(2px);
		}
	}
}

.portfolio-info{
	position: absolute;
	top:0; left:0;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;
	
	background-color: rgba(0, 0, 0, 0.603);
	box-shadow: inset 0 0 50px black;
	color: white;
	text-align: center;

	opacity: 0;

	z-index: 10;

	h4{
		font-size: 2rem;
		margin-top: 0;
		margin-bottom: 10px;
	}

	p{
		margin: .6em 0;
	}

	transition: opacity .5s;
}




.portfolio-links{
	display: flex;
	justify-content: center;
}

.portfolio-link{
	color: white;
	background-color: $blue;

	font-size: 2em;
	padding: 0.8em;
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;

	margin: .2em;
	height: 35px; width: 35px;

	&:hover{
		background-color: $orange;
	}
}

//?
//? Formulaire de contact
//?////////////////////////////

.form-group{
	margin-top: 1.4em;
	margin-bottom: 2.2em;
	position: relative;
}

.form-group[required]{
	margin-bottom: 0;
}

label{
	font-variant: small-caps;

	position: absolute;
	top: 8px; left: 8px;

	display: inline-block;
	transition: transform 0.1s;
	color: rgb(109, 109, 109)
}

input, textarea{
	font-family: "Roboto", "Oxygen",
	  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	  sans-serif;
	font-family: roboto;
	border: none;
	border-bottom: 4px solid #2098D1;
	background-color: #F1F2F2;

	width: 100%;

	padding: .6em;
	
	&:focus, &:valid{
		outline: none;
		+label{
			color: black;
		}
	}
}

textarea{
	height: 12em;
}

.field-fill{
	transform: translate(-8px, -1.8em);
	color: black;
}

.form-submit{
	margin: 1em 0;
	background: $blue;
	border-radius: .25em;
	padding: .2em .4em;
	color: white;
	border: none;
	font-size: 1.5em;
	cursor: pointer;
	&:hover{
		background-color: lighten($color: $blue, $amount: 10);
	}
}

.field-error{
	border-bottom: 4px solid red!important;
}

.field-valid{
	border-bottom: 4px solid green!important;
}

.form-info{
	font-weight: bold;
}

.form-success{
	color: #009600;
}

.form-error{
	color: red;
}

.contact-note{
	margin-bottom: 3em;
}

.contact-details{
	margin-top: 3em;
}

.contact-item{
	display: flex;
	align-items: center;
	margin-bottom: 0.8em;
	p{
		margin: 0;
	}
}

.contact-cat{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-right: 0.5em;

	background-color: $blue;
	color: white;
	border-radius: 50%;
	padding: .5em;
	height: 2em; width: 2em;
	font-size: 1.5em;

	transition: background-color .2s;

	&:hover{
		background-color: $orange;
	}
}

//?
//? Footer
//?////////////////////////////

footer{
	background-color: #F1F2F2;
	padding: 20px 0 10px 0;

	img{
		height: 52px;
		display: none;
	}

	.wrapper{
		display:flex;

		justify-content: space-between;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li{
			display: inline-block;
			a{
				display: flex;
				justify-content: center;
				align-items: center;
				text-decoration: none;
				width: 1.5em; height: 1.5em;
				margin-left: .2em;

				border-radius: 50%;
				font-size: 2em;
				color: white;
				background-color: #2098D1;
				padding: 0.3em;

				transition: background-color 0.2s;
				&:hover{
					background-color: #FF8900;
				}
			}
		}
	}
}

@import '760';